{% extends 'base.html.twig' %}

{% block title %}Résultat du Quiz
{% endblock %}

{% block body %}
	<h1>Résultat du Quiz</h1>
	<p>Votre score :
		{{ score }}/10</p>
	{% if score < 5 %}
		<p>Vous ne pouvez pas passer au module suivant, votre score est insuffisant. Commencez de nouveau.</p>
	{% else %}
		{% if nextCategory %}
			<a href="{{ path('app_cours', {userId: user.id, categoryId: nextCategory.id}) }}" class="btn btn-primary">Passer au cours suivant</a>
		{% else %}
			<p>Félicitations ! Vous avez complété tous les modules.</p>
			<a href="{{ path('app_results_final', {userId: user.id, categoryId: categoryId}) }}" class="btn btn-success">Voir les résultats finaux</a>
		{% endif %}
	{% endif %}

	{% if usersScores is not empty %}
		<h2>TOP 10</h2>
	<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for userScore in usersScores %}
            <tr>
                <td>{{ userScore.getUser().getPrenom() }} {{ userScore.getUser().getNom() }}</td>
                <td>{{ userScore.getScore() }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

	{% endif %}
{% endblock %}
