{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<section class='contact'>
		<div class=''>
			<div class='row py-4 '>
				<div class='col-md-1'></div>
				<div class='col-md-6 px-5 '>
					{{ form_start(form) }}


					<label class='txtContact mt-4' for="inputNom">Nom:
					</label>
					{{ form_row(form.nom, {label: ' ','attr': {'class': 'form-control'}}) }}
					<label class='txtContact mt-4' for="inputPrenom">Prénom:
					</label>
					{{ form_row(form.prenom, {label: ' ','attr': {'class': 'form-control'}})  }}

					<label class='txtContact mt-4' for="inputEmail">Email:
					</label>
					{{ form_row(form.email, {label: ' ','attr': {'class': 'form-control'}}) }}

					<label class='txtContact mt-4' for="inputMessage">Message:
					</label>
					{{ form_row(form.message, {label: ' ','attr': {'class': 'form-control messageInput'}}) }}

					<div class='mt-5'>
						<button class="btnEnvoyer py-2 px-5">{{ button_label|default('Envoyer') }}</button>
					</div>


					{{ form_end(form) }}
				</div>
				<div class='col-md-4 px-5 pt-5'>
					<h6 class='txtContact pt-4'>Contact</h6>
					<div class='d-flex align-items-center pt-4'>
						<a class='text-center' href="{{ path('app_home')}}">
							<img class="" src="{{ asset('assets/img/map.png') }}">
						</a>
						<p class='m-3'>Saint-étienne</p>
					</div>
					<div class='d-flex align-items-center pt-4'>
						<a class='text-center' href="{{ path('app_home')}}">
							<img class="" src="{{ asset('assets/img/phone.png') }}">
						</a>
						<p class='m-3'>+33745230807</p>
					</div>
					<div class='d-flex align-items-center pt-4'>
						<a class='text-center' href="{{ path('app_home')}}">
							<img class=" " src="{{ asset('assets/img/email.png') }}">
						</a>
						<p class='m-3'>alouisoumayaa@gmail.com</p>
					</div>
					<div class='divsocial pb-2 pt-4 my-3'>
						<h6 class='txtContact pt-2'>Abonnez-vous</h6>					
						<div class="card-social mt-4">
							<a class="socialContainer containerOne" href="#">
								<svg viewbox="0 0 16 16" class="socialSvg instagramSvg">
									<path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"></path>
								</svg>
							</a>

							<a class="socialContainer containerTwo" href="#">
								<svg viewbox="0 0 24 24" class="socialSvg pinterestSvg">
									<path d="M12 0c-6.627 0-12 5.373-12 12 0 5.084 3.163 9.387 7.69 11.043-.106-.94-.2-2.38.042-3.404.219-.945 1.405-6.027 1.405-6.027s-.36-.718-.36-1.778c0-1.669.968-2.915 2.174-2.915 1.025 0 1.52.771 1.52 1.694 0 1.032-.656 2.574-.994 4.004-.283 1.2.6 2.179 1.776 2.179 2.131 0 3.772-2.25 3.772-5.492 0-2.872-2.062-4.881-5.008-4.881-3.415 0-5.42 2.561-5.42 5.208 0 1.029.396 2.135.892 2.734.1.12.114.225.084.345-.091.377-.293 1.2-.332 1.367-.05.211-.165.257-.38.155-1.415-.653-2.299-2.698-2.299-4.347 0-3.543 2.571-6.788 7.414-6.788 3.883 0 6.91 2.773 6.91 6.487 0 3.857-2.429 6.967-5.799 6.967-1.133 0-2.201-.585-2.564-1.28l-.696 2.65c-.253.977-.938 2.196-1.4 2.942 1.05.323 2.162.498 3.32.498 6.627 0 12-5.373 12-12s-5.373-12-12-12z"></path>
								</svg>
							</a>

							<a class="socialContainer containerThree" href="#">
								<svg viewbox="0 0 24 24" class="socialSvg youtubeSvg">
									<path d="M23.498 6.186a2.976 2.976 0 0 0-2.095-2.097C19.362 3.5 12 3.5 12 3.5s-7.362 0-9.403.589A2.976 2.976 0 0 0 .502 6.186C0 8.227 0 12 0 12s0 3.773.502 5.814a2.976 2.976 0 0 0 2.095 2.097C4.638 20.5 12 20.5 12 20.5s7.362 0 9.403-.589a2.976 2.976 0 0 0 2.095-2.097C24 15.773 24 12 24 12s0-3.773-.502-5.814zM9.75 15.02V8.98L15.5 12 9.75 15.02z"></path>
								</svg>
							</a>

							<a class="socialContainer containerFour" href="#">
								<svg viewbox="0 0 16 16" class="socialSvg facebookSvg">
									<path d="M9.6 8.4h2.2l.4-2.4H9.6V4.8c0-.7.2-1.2 1.2-1.2h1.2V1.2H10c-2.1 0-3.4 1.3-3.4 3.6v2H4V8.4h2.6v7.2h3V8.4z"></path>
								</svg>
							</a>
						</div>


					</div>
				</div>
			</div>
		</div>
		{# <div id="myMap" class="height-350">
															<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.5875990004024!2d4.378487076701956!3d45.437814035198244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f5af5a4302d623%3A0x77b76af46a2f3e19!2sGarage404!5e0!3m2!1sfr!2sfr!4v1709738236636!5m2!1sfr!2sfr" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
														</div> #}
		<div id="myMap" class="height-350">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.5875990004024!2d4.378487076701956!3d45.437814035198244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f5af5a4302d623%3A0x77b76af46a2f3e19!2sGarage404!5e0!3m2!1sfr!2sfr!4v1709738236636!5m2!1sfr!2sfr" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</section>
	{% block script %}{% endblock %}
{% endblock %}
